body {
  font-family: sans-serif;
}

.container-fluid {
  box-sizing: border-box;
  border: 5px solid rgb(49, 49, 49);
  border-radius: 10px;
} 

.row {
  padding: 5px;
  margin: 0px;
  border-radius: 10px;
} 

/* JUNGLE Header */
header {
    padding: 10px 10px;
    text-align: center;
    background-color: rgb(49, 49, 49);
    border-radius: 10px;
} 
.rainbow-letters {
    font-size: 40px;
  }

  .rainbow-letters span:nth-child(7n + 1) {
    color: #ef5350;
  }
  .rainbow-letters span:nth-child(7n + 2){
    color: #ff8d1b;
  }
  .rainbow-letters span:nth-child(7n + 3){
    color: #ffee00;
  }
    .rainbow-letters span:nth-child(7n + 4){
        color: #00d491c2;  
  }
  .rainbow-letters span:nth-child(7n + 5) {
    color: #048af8;
  }
  .rainbow-letters span:nth-child(7n + 6) {
    color: #9121f3;
  }
 
/* Columns One & Two */
.greeting {
  color: white;  
  text-align: center;
}

.mini-pic {
  justify-content: center;
}

.compose-button {
  border-radius: 10px;
  padding-top: 15px; 
  padding-bottom: 10px
  justify-content: center;
  text-align: center;
}

.button-compose:hover {
  background-image: linear-gradient(45deg, #2e80e5, white, #00eaff);
  color: rgb(0, 0, 0); 
}

.domain-button {
  text-align: left;
  justify-content: left;
}

.domain-button:hover {
  color:rgb(49, 49, 49);
}

.my-account {
  margin-top: 20px;
}

.my-account:hover {
  background-image: linear-gradient(45deg, #2e80e5, white, #00eaff);
  color: rgb(0, 0, 0); 
}

.second-col-div {
  justify-content: center;
}

.col-md-3 {
  flex: 1;  

  border-radius: 10px;
  padding-left: 10px;
  border-right: 3px solid rgb(49, 49, 49);
  background-color: rgb(64, 127, 127)
}

.list-group {
  padding-top: 15px;
  border-radius: 10px;
}

.my-inbox {
  background-color: translucent;
}

.my-inbox:hover {
  color:rgb(49, 49, 49);
}

/* Column 3 */

.col-md-6 {
  background-color: rgb(64, 127, 127);
  border-radius: 10px;
}

.form-control {
  padding-bottom: 15px;
}

.srch-button:hover {
  background-image: linear-gradient(45deg, #2e80e5, white, #00eaff);
  color: rgb(0, 0, 0); 
}
.email-form {
  padding-top: 15px;
}

.correspond:hover {
  background-image: linear-gradient(45deg, #2e80e5, white, #00eaff);
  color: rgb(0, 0, 0); 
  }

p {
  color: white;
}

.content-body {
  background-color: white;
  color:rgb(49, 49, 49);
  padding: 10px;
  border-radius: 10px;
}

h4 {
  color: rgb(176, 2, 2);
}

.email-message {
  color: rgb(49, 49, 49);
}
/*button inside selected email message */

.link {
    color: rgb(140, 12, 12);
    background-color: transparent;
    text-decoration: none;
    border: 1.5mm ridge goldenrod;
    padding: 5px;
  }
